
html{
  -webkit-app-region: drag;
}

h1{
  color: #fff;
  font-weight: bold;
  -webkit-text-stroke: 1px #000;
}

div.user p {
    color: #FF4444;
  -webkit-text-stroke: 1px #330000;
  font-weight: bolder;
}

h1{
  font-family: "Garamond";
  font-size: 2.5vw;
  position: absolute;
  text-align: center;
  top: 0;
  padding: 0;
  margin: 2vw 0;
  width: 100%;
  z-index: 100;
}

.navbar{
  background: rgba(255,255,255,0.2);
  display: block;
  clear: both;
  height: 5vw;
  position: absolute;
  width: 100%;
  z-index: 100;
  margin: 1vw 0;
}

body{
  display: block;
  position: relative;
  background: #ABBDA5;
  width: auto;
  text-align: center;
  background: url(xv_dark.png);
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;

}

.holder{
  margin: auto;
  padding: 0;
  position: relative;
  display: inline-block;
  vertical-align: text-top;

  /*
  background: -webkit-radial-gradient(gainsboro 40%, rgba(255,255,255,0.0) 70%);
  background: -o-radial-gradient(gainsboro 40%, rgba(255,255,255,0.0) 70%);
  background: -moz-radial-gradient(gainsboro 40%,  rgba(255,255,255,0.0) 70%);
  background: radial-gradient(gainsboro 40%, rgba(255,255,255,0.0) 70%);
  */

  background: -webkit-radial-gradient(black 40%, rgba(255,255,255,0.0) 70%);
  background: -o-radial-gradient(black 40%, rgba(255,255,255,0.0) 70%);
  background: -moz-radial-gradient(black 40%,  rgba(255,255,255,0.0) 70%);
  background: radial-gradient(black 40%, rgba(255,255,255,0.0) 70%);

  width: 100%;
  height: 100vh;

  -webkit-transition: width 2s;

  -webkit-flex: 1;
  flex: 1;

}

@media (max-width: 1000px) {
  .holder{
    height: 100vh;
  }
}

.user{
  font-size: 3vw;
}

.queue{
  font-size: 1vw;
  background: rgba(255,255,255,0.5);
  overflow: hidden;
  max-height: 100vh;
}

.queue .item{
  width: 200px;
  border: 1px solid red;
}

.logo {
    z-index: -1;
  display: block;
  position: absolute;
  text-indent: -9999px;
  background: url(floral_dark.svg);
  background-size: 100% 100%;
  width: 41vw;
  height: 41vw;
  min-width: 50%;
  min-height: 100%;
  max-width: 700px;
  max-height: 700px;
  right: 0;
  top: 0;
  -webkit-transition: background-size 2s;
  -webkit-transition: top 2s;
  opacity: 0.9;
}

@media (max-width: 1000px) {
  .logo {
    background-size: 200% 100%;
    top: -13%;
  }
}

.flip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  left: 0px!important;
  top: 0;
  display: block;
  position: absolute;
}

@media (max-width: 1000px) {
  .flip {
    top: -13%;
  }
}

#video-player{
  display: block;
  position: relative;
  width: 720px;
  height: 405px;
  background: rgba(255,255,255,0.2);
  border: 1px solid #fff;
  margin: auto;
  z-index: 100;
  margin-top: 7vw;
}

@media (max-width: 740px) {
  #video-player{
    width: 100%;
    height: 56.25vw;
  }
}


@-webkit-keyframes wave {
  0%,100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }
}

@keyframes wave {
  0%,100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }
}

.loader-container{
  height: 100%;
}

.wave-spread .loader {
  width: 50%;
  height: 100%;
  margin: auto;
}
.wave-spread .loader > div {
  float: left;
  margin: 40% 2% 0 0;
  width: 4%;
  height: 16%;
  background-color: grey;
  -webkit-animation: wave 1s cubic-bezier(0.85, 0.25, 0.37, 0.85) infinite;
  animation: wave 1s cubic-bezier(0.85, 0.25, 0.37, 0.85) infinite;
}
.wave-spread .loader .line-1 {
  margin-left: 37%;
}
.wave-spread .loader .line-1, .wave-spread .loader .line-5 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
.wave-spread .loader .line-2, .wave-spread .loader .line-4 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}
